# Environment variables
.env

# Virtual environments
venv/
.venv/
env/

# IDE settings
.idea/
.vscode/

# Build and output directories
output/
__pycache__/
*.py[cod]

# OS files
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
.terraform
.terraform.lock.hcl